<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <title>混凝土部位关联</title>
  </head>

  <body>
    <div id="app"></div>
    <script type="text/javascript" src="./lib/vue/vue.runtime.js"></script>
    <script type="text/javascript" src="./lib/vuex/vuex.js"></script>
    <script type="text/javascript" src="./lib/vue-router/vue-router.js"></script>
    <script type="text/javascript" src="./lib/axios/axios.js"></script>
    <script type="text/javascript" src="./lib/element-resize-detector/element-resize-detector.js"></script>
    <script type="text/javascript" src="./lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script type="text/javascript" src="./lib/mussel/mussel.js"></script>
    <script type="text/javascript" src="./lib/web-frame/web-frame.js"></script>
    <script type="text/javascript" src="./lib/kaka-grid/kakaGrid.es5.js"></script>
    <script type="text/javascript" src="./lib/vue-kaka-grid/vue-kaka-grid.js"></script>
  </body>

</html>
